* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    background: #BFD7E4;
    z-index: -1;
}

body::before {
    content: "";
    width: 100%;
    height: 465px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background: #293241;
}



.page {
    width: 750px;
    margin: auto;
}

/* ============================== HEADER ============================== */
header {
    margin: 107px auto 0;
    width: 391px;
    height: 193px;
}

header h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 36px;
    line-height: 45px;

    color: white;

    text-align: center;
}

header p {
    width: 391px;
    height: 46px;

    color: white;
    text-align: center;
    margin: auto;
}

#logo {
    display: block;
    margin: 2px auto 0;
}

#logo1,
#logo2,
#logo3,
#logo4,
#logo5 {
    position: relative;
    bottom: 70px;
    left: 125px;
    margin-right: 4px;
    z-index: 1;
}

#form-title {
    text-align: center;
    margin: 82px auto 50px;

    position: relative;

    display: block;

    width: 750px;
    height: 33px;

    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: white;
}

#form-title::before {
    content: "";
    width: 750px;
    height: 133px;
    border-radius: 20px 20px 0 0;

    position: absolute;
    left: 0;
    top: -50px;
    bottom: 0;
    z-index: -1;
    background: #F67669;
}



/* ============================== FORM ============================== */

form {
    padding: 14px 64px 0;

    background: white;
    
    display: flex;
    flex-direction: column;
    gap: 33px;
}

fieldset {
    border: none;
}

fieldset legend {
    margin: 0px auto 14px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;

    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: #253B51;
}

fieldset select {
    width: 300px;
    margin-bottom: 0;
}

fieldset label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;

    margin-top: 16px;
}

fieldset label span {
    font-size: 12px;
    line-height: 20px;

    color: #C1BCCC;
}

fieldset label span:hover {
    color: #8f8a9b;
}

.input-mentor {
    margin-top: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper-2 {
    display: flex;
    flex-direction: column;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select,
.input-wrapper-2 input {
    background: #FAFAFC;

    border: 1px solid #e6e6f0;
    border-radius: 8px;

    height: 56px;
    margin-top: 8px;

    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;

    color: #6c6a71;
}

.input-wrapper textarea {
    height: 166px;
}

.input-group {
    display: flex;
    gap: 22px;
}

.input-group input {
    width: 300px;
}

.input-group-2 {
    display: flex;
    justify-content: space-between;
}

.input-group-2 #date {
    margin-right: 32px;
    width: 300px;
}

.checkbox-wrapper {
    position: relative;
    margin-top: 30px;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 8px;
    
    margin: 0;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.checkbox-wrapper label::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;

    border: 1px solid #e6e6f0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

/* ============================== FOOTER ============================== */
footer {
    display: flex;
    
    width: 750px;
    border-radius: 0px 0px 20px 20px;

    margin: 0 auto 50px;

    padding: 64px;
    background: white;
}

footer .button {
    width: 622px;

    padding: 15px;

    border-radius: 8px;
    border: 0;

    font-size: 20px;
    line-height: 26px;

    color: white;

    background: #F67669;

    font-family: 'Staatliches', sans-serif;
}

footer .button:hover {
    background: #c55b4f;;
}